/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
/**=======================================Page Home ===========================**/
.homeMainTitle {
  text-align: center;
}
.homeMainTitleS {
  border: groove 2px;
  box-shadow: 6px 6px 0px black;
  display: inline-block;
  margin-left:580px;
  margin-right:580px; 
  background: #fff
}
.homePreambule {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}
.conseils {
  text-align: justify;
  margin-left: 80px;
  margin-right: 80px;
  list-style-type: disc;
}
.apparte {
  text-align: justify;
  border: groove 1px lightblue;
  box-shadow: 6px 6px 0px black;
  background-color: lightskyblue;
  display: inline-block;
  color: black;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 30px;
  border-width: 2px;
}